.riovizual-divi-table-placeholder img{
    vertical-align: bottom;
}
.riovizual-divi-table-placeholder div{
    color: #515151;
    padding: 8px; 
}
.riovizual_module .et-fb-icon{
    margin-bottom: 0px;
}